:host {
    margin: 20px 0;
    display: block;
    form {
        display: flex;
        border-radius: 6px;
        border: 1px solid rgb(44, 1, 44);
        align-items: center;
        flex-direction: column;
        gap: 4px;
        width: 50%;
        margin: 0 auto;
        padding: 20px;
    }
}